@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
  /* Color Variables */
  --primary-color: #471f3a;
  --secondary-color: #f4c38b;
  --white-color: #ffffff;
  --off-white-color: #f9f9f9;
  --dark-text: #333333;
  --medium-text: #666666;
  
  /* Font Variables */
  --heading-font: 'Poppins', sans-serif;
  --body-font: 'Poppins', sans-serif;
  --menu-font: 'Poppins', sans-serif;
}

* {
  font-family: 'Poppins', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  color: var(--dark-text);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: var(--primary-color);
}

a {
  text-decoration: none;
  color: inherit;
}
